<h1>Listing donors</h1>

<table>
  <thead>
  <tr>
    <th>Donor's Name</th>
    <th>Donor's Email</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @donors.each do |donor| %>
      <tr>
        <td><%= donor.name %></td>
        <td><%= donor.email %></td>
        <td><%= link_to 'Show', donor %></td>
        <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
        <td><%= link_to 'Delete', donor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<b>Total Donors Registered as of: <%= (Date.today).strftime("%B %d, %Y") %><br>
  <%= Donor.count("id") %></b><br>
<br>

<%= link_to 'New Donor', new_donor_path %> | <%= link_to 'Make a Donation', new_donation_path %>
