<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Donate Today!", donors_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to "Register as a new Donor", new_donor_path %></li>
      <li class="divider"></li>
      <li><%= link_to "Make a Donation", new_donation_path %></li>
      <li class="divider"></li>
      <li><%= link_to "View All Donors", donors_path %></li>
      <li class="divider"></li>
      <li><%= link_to "View All Donations", donations_path %></li>
    </ul>
  </section>
</nav>
<%= yield %>
<%= javascript_include_tag "application" %>
</body>
</html>